66_Datos/sell-z-780-all-prodId.csv
66_Datos/sell-in-all-to-postgres.csv
66_Datos/sell-in.txt
66_Datos/sell-in.csv
66_Datos/sell-z-780-all-prodId-toDatetime.csv
.ipynb_checkpoints
.virtual_documents
_archive
Docs_de_trabajo